header {
    border:2pt black;
    background-color:cornsilk;
    color: chocolate;
}

footer {
    border:2pt black;
    background-color:burlywood;
}

main {
    background-color:blanchedalmond;
}

body {
    font-family: Arial;
}

ul {
    list-style: none;
}

.book-title {
    font-style: italic;
    font-size: x-large;
}

.hover-change:hover {
    color: red;
    background-color: lightyellow;
}

#intro {
    font-size: x-large;
    font-weight: bold;
}